# Copia a .env y rellena (nunca subas .env a Git)
OAUTH_PUBLIC_BASE_URL=http://127.0.0.1:8000
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
# Opcional:
# OAUTH_GITHUB_CLIENT_ID=
# OAUTH_MICROSOFT_CLIENT_ID=
# JWT_SECRET=

# File services Goblal variables 
MAX_FILE_SIZE=10485760 # 10MB for dafautl
